<main class="container-fluid flex-grow-1 d-flex flex-column align-items-center p-3 my-2 w-100">
    <h2 class="text-center">OUR PRODUCTS!</h2>
    <div id="products" class="row justify-content-center">
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/refresh.js"></script>